@import '@/styles/variables';

.btn {
    // width: 267px;
    // height: 48px;
    gap: 1rem;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    background: $color-highlight;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    transition: all 250ms ease;
    display: inline-block;
    box-sizing: border-box;
    color: #24242F;
    text-decoration: none;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
        background: $color-highlight-hover;
    }

    .icon {
        font-weight: bold;
    }
}