@import '@/styles/toRem';

.intro{
    min-height: calc(100vh - 192px);
    max-height: 1080px;
    display: flex;
    gap: 2rem;
    position: relative;
    height: 100%;
    padding: 96px 0;
    &::after{
        content: '';
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        position: absolute;
        background: url(/bg-intro.jpg) top right no-repeat;
        background-size: contain;
        background-position-x: 70%;
        z-index: -1;
        @media(max-width: 1280px){
            background-size: cover;
            background-position-x: 60%;
        }
    }
    &::before{
        content: '';
        width: 100%;
        height: calc(100% - 192px);
        background: #18163b;
        background: linear-gradient(90deg,  #121119 70%,#0b0a32 30%);
        left: 0;
        z-index: -1;
        position: absolute;
    }
    .description{
        max-width: 570px;
        width: 100%;
        margin: 24px 0;
        color: #fff;
    }
}
.content{
    display: flex;
    flex-direction: column;
    gap: 96px;
    // position: relative;
    position: inherit;
    z-index: 5;
}
.progress_bar{
    max-width: 625px;
}
.progress_container{
    padding-top: 40px;
}
.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(280.72deg, rgba(45, 39, 133, 0.4) 7.96%, rgba(11, 9, 31, 0.8) 57.3%);
    color: #fff;
    z-index: 5;
    animation: example 600ms forwards;
    .progress_bar{
        max-width: 1216px;
        margin: auto;
        padding: 30px;
        @media(max-width: 600px){
            padding: 15px 25px;
        }
    }
}

@keyframes example {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}